<%- include('main') %>

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Chủ</title>
</head>
<body>
    <h1>Chào mừng đến với trang chủ!</h1>
    <a href="/ejs">Đi đến trang test EJS</a>
</body> 
</html>